// .buttonClick{
//     padding:10px;
//     margin:10px;
//     border: 1px solid red;
//     cursor: pointer;
// }

.incButton,.decButton{
    padding:10px;
    margin:10px;
    border: 1px solid red;
    cursor: pointer;
}

.textHead{
    color:brown;
    padding-top:30px;
}